/* Putting logout link in the top right corner */
#logout {
	position: fixed;
	right: 20px;
	top: 20px;
	font-size: 16px;
	color: #000
}
/* Setting font, background, and text color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
}
/* Format for the main dashboard container */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #0073aa;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Subtitle  */
/* Styling for subtitles */
h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

/* Form */
form {
    margin-bottom: 20px;
    text-align: center;
}
/* Label  */
/* Styling for labels in forms */
label {
    display: block;
    margin-bottom: 5px;
}
/* Input */
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #0073aa;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width */
}
/* Button Format */
button {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Button hover format */
button:hover {
    background-color: #005689;
}

/* Transaction log styles */
#transactions {
    margin-top: 30px;
    border-top: 2px solid #0073aa; 
    padding-top: 20px;
}
/* Styling for the list of transaction logs */
#logList {
    list-style-type: none;
    padding: 0;
}
/* Styling for individual log items */
#logList li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(40, 39, 39); /* Border between transactions */
    padding-bottom: 5px;
}
/* Styling for the last log item in the list */
#logList li:last-child {
    border-bottom: none; /* No border for the last transaction */
}
